# Hugging Face Read Token
HF_TOKEN= here your token 

# Voice Studio Settings
VOICE_STUDIO_F5TTS_MODEL=F5TTS_Base
VOICE_STUDIO_NARRATION_VOICE=en-US-GuyNeural
VOICE_STUDIO_AUTO_ROUTE_PRONUNCIATION=true
HF_HOME=/app/hf_cache
MPLBACKEND=Agg